#Flex_Container{
    padding: 20px;
}   
.circle-container {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
    overflow: hidden;
    border: 4px solid #584444; 
}

.circle-image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}
.about{
    border-bottom: 1px solid rgb(62, 62, 86);
}

