@import url('home.css');
@import url('posts.css');
.container{
    display: grid;
    grid-template-areas: 
    "head"
    "nav"
    "ct"
    "ft";
    min-height: 100vh;
}

#nav{
    grid-area: head;
    margin: 0;
    background-color: #000000;
    color:#FFFFFF;
}
#content{
    grid-area: ct;
    background-color:#FFFFFF;
}
#foot{
    grid-area:ft;
    background-color: #245073;
    padding: 20px 0;
    color: #fff;
    text-align: center;

}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#head{
    background-color: #5b5780;
    color: #fff;
    text-align: center;
}
.article .read-more:hover {
    background-color: #333;}
.nav{
    grid-area: nav;
    background-color: #555;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.nav a:hover{
    background-color: #333666;
}
.head_img{
    object-fit:cover;
    max-width: 100%;
    width: 100%;
    height:150px;
}
#head{
    position: relative;
    text-align: center;
    color: white;
}
.overlay_text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #e3e925;
    font-size: 60px;
    font-family: cursive;
}
@media only screen and (max-width: 767px){
    body{
        font-size: 17px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    body{
        font-size: 20px;
    }

}
@media only screen and (min-width: 1024px){
    body{
        font-size: 24px;
    }
}
