.container{
    display: grid;
    grid-template-areas: 
    "head"
    "nav"
    "ct"
    "ft";
    min-height: 100vh;
}
#nav{
    grid-area: head;
    margin: 0;
    background-color: #000000;
    color:#FFFFFF;
}
#content{
    grid-area: ct;
    background-color:#FFFFFF;
}
#foot{
    grid-area:ft;
    background-color: #245073;
    padding: 20px 0;
    color: #fff;
    text-align: center;

}
body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#head{
    background-color: #5b5780;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}
.article .read-more:hover {
    background-color: #333;}
.nav{
    grid-area: nav;
    background-color: #555;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}
.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
    padding-right: 30px;
}
.nav a:hover{
    background-color: #333666;
}