.container{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 1fr ;
    grid-template-areas: 
    "nav nav nav"
    "ct ct ct"
    "ft ft ft";
}
#nav{
    grid-area: nav;
    background-color: #006D75;
}
#content{
    grid-area: ct;
    background-color:#FFFFFF;
}
#foot{
    grid-area:ft;
}
.FlexContainer{
    display: flex;   
}
.items{
    background-color: darkgrey;
    height: 300px;
    width: 200px;

}